@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif !important;
    max-width: 1400px;
}

/* wrap line  */

/* (A) FIXED WRAPPER */
.hwrap {
    overflow: hidden; /* HIDE SCROLL BAR */
    background: rgb(255, 255, 255);
    border-bottom: 1px solid #eee;
    height: 40px;
  }
   
  /* (B) MOVING TICKER WRAPPER */
  .hmove { display: flex; }
  
  /* (C) ITEMS - INTO A LONG HORIZONTAL ROW */
  .hitem {
    flex-shrink: 0;
    width: 40%;
    font-weight: 700;
    align-items: center;
    margin-top: 5px;
  }
   
  /* (D) ANIMATION - MOVE ITEMS FROM RIGHT TO LEFT */
  /* 4 ITEMS -400%, CHANGE THIS IF YOU ADD/REMOVE ITEMS */
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-200%, 0, 0); }
  }
  .hmove { animation: tickerh linear 15s infinite; }
  .hmove:hover { animation-play-state: paused; }

/* wrap line  */

/* header */

/* //////////////////////////////// */
/* nav-mobile-toggle */
/* @media screen and (max-width: 768px) {
  .hamburger {
    display: block;
    margin-top: 10px;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
} */
/* nav-mobile-toggle */


header {
    width: 100%;
    height: 100vh;
    position: relative;
}
/* carousel */
#back-vedio
{
    position: absolute;
    top: 19%;
    left: 0;
    width: 100%;
    height: 650px;
}
.carousel-item {
    width: 100%;
    height: 100vh;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -22px;
    padding: 16px;
    color: #eee !important;
    font-size: 35px !important;
    transition: 0.6s ease;
    user-select: none;
  }
    /* Position the "next button" to the right */
    .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    color: #D0A34A !important; 
 }

 .pagen {
    margin-top: -20px;
 }

/* carousel */
.navbarr {
    background-color: rgba(0, 0, 0, 0.6);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-item {
    padding: 0.6rem;
    position: relative;
  }
  .nav-item::after {
    content: "";
    position: absolute;
    bottom: 4px;
    left: 40%;
    transform: translateX(-50%);
    border-radius: 5px;
    width: 0;
    height: 2px;
    background: #D0A34A;
    transition: .5s;
  }
  .nav-item:hover::after {
    width: 80px;
  }
.firstlinks{
    display: flex;
    margin-left: 80px;
}
.firstlinks li 
{
    list-style: none;
}
.prodrop {
    background-color: white !important;
    color: #D0A34A !important;
    font-weight: 200 !important;
}
.prodrop:hover{
    background-color: #D0A34A !important;
    color: white !important;
}
.firstlinks a {
    color: white;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 100;
    transition: 0.5s !important;
}
.firstlinks a:hover{
    color: #D0A34A;
    font-weight: 500;
}

.logo img{
    width: 90px;
    height: 90px;
    margin: 0 100px;
}

.scndlinks{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
}
.scndlinks ul 
{
    display: flex;
    margin-right: 100px;

}
.scndlinks ul li 
{
    list-style: none;
}
.scndlinks a {
    color: white;
    margin-right: 30px;
    font-size: 14px;
    font-weight: 100;
}
.scndlinks a:hover{
    color: #D0A34A;
    font-weight: 500;
}
.scndlinks button {
    padding: 10px;
    background-color: #D0A34A;
    margin-top: -10px;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 100;
    width: 90px;
}

.scndlinks button:hover{
    background-color: white;
    color: #D0A34A;
    font-weight: 300;
}

.headsearch {
    position: absolute;
    bottom: -180px;
    left: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 2px 2px 2px 2px #eee;
    height: 120px;
}
.formdata {
    display: flex;
    flex-direction: column;
}

.headsearch button {
    padding: 10px;
    background-color: #D0A34A;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 100;
    width: 90px;
    margin-top: 35px;
}

.headsearch button:hover{
    background-color: white;
    color: #D0A34A;
    font-weight: 300;
}
.formdata p {
    margin: 10px 5px;
    font-size: 12px;
    font-weight: 700;
}
.form-select {
    color: rgb(160, 160, 160) !important;
    font-size: 14px !important;
}
/* header */

/* aboutus */
.aboutus {
    margin-top: 250px;
}

.about-txt h2 {
    margin-top: 50px;
    font-weight: 600;
}
.about-txt p 
{
    width: 100%;
    line-height: 25px;
    font-size: 13px;
}

.about-txt button {
    padding: 10px;
    background-color: #D0A34A;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 100;
    width: 90px;
    margin-top: 20px;
}

.about-txt button:hover{
    background-color: white;
    color: #D0A34A;
    font-weight: 300;
}
.about-img img {
    max-width: 100%;
}
/* aboutus */

/* Projects */


.projects{

    margin-top: 120px;
}
.projtitle h2 
{
  margin-bottom: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    
  }

  .swiper-slide img {
    display: block;
    width: 110%;
    height: 100%;
    object-fit: cover;
  }


  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(29, 28, 28, 0.2);
  }
  .procontent{
    position: relative;
    padding: 0;
  }
  /* When you mouse over the container, fade in the overlay logo*/
  .procontent:hover .overlay {
    opacity: 1;
    z-index: 6985;
  }
  

  /* The logo and button inside the overlay is positioned in the middle vertically and horizontally */
  .udouralogo , .lafayette-logo , .zaha-logo {
    color: white;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 20px;
  }
  
  .overlay button {
    padding: 10px;
    background-color: #D0A34A;
    font-size: 12px;
    border: none;
    color: white;
    font-weight: 100;
    width: 90px;
    margin-top: 30px;
}

  .overlay button:hover{
    background-color: white;
    color: #D0A34A;
    font-weight: 300;
}


/* Projects */
